Problem 1

In [1]:
A=(1,1,0,1,1,0,1,1)
B=(0,1,1,1,1,1,1,0)
C=(1,0,1,1,0,1,1,1)

def findintersection(x,y):
    inter=0
    for i in range(len(x)):
        if(x[i]==y[i]==1):
            inter=inter+1
    return inter        
def findunion(x,y):
    union=0
    for i in range(len(x)):
        if(x[i]==1 or y[i]==1):
            union=union+1
    return union
I=findintersection(A,B)
U=findunion(A,B)
print(I)
print(U)
jacind=I/U
jacdist=1-jacind
print("Jaccard Distance between A and B is "+str(jacind))

I1=findintersection(B,C)
U1=findunion(B,C)
print(I1)
print(U1)
jacind=I1/U1
jacdist=1-jacind
print("Jaccard Distance between B and C is "+str(jacind))
I2=findintersection(A,C)
U2=findunion(A,C)
print(I2)
print(U2)
jacind=I2/U2
jacdist=1-jacind
print("Jaccard Distance between A and C is "+str(jacind))

4
8
Jaccard Distance between A and B is 0.5
4
8
Jaccard Distance between B and C is 0.5
4
8
Jaccard Distance between A and C is 0.5

In [3]:
A=(1,1,0,1,1,0,1,1)
B=(0,1,1,1,1,1,1,0)
C=(1,0,1,1,0,1,1,1)
import math
def fun(x,y):
    tmp=0;	
    for i in range(len(x)):
        tmp=tmp+x[i]*y[i]
    return tmp
p=fun(A,B)
q=math.sqrt(fun(A,A))* math.sqrt(fun(B,B))
print("Cosine Distance between A and B :"+str(p/q))
p1=fun(B,C)
q1=math.sqrt(fun(C,C))* math.sqrt(fun(B,B))
print("Cosine Distance between B and C :"+str(p1/q1))
p2=fun(A,C)
q2=math.sqrt(fun(A,A))* math.sqrt(fun(C,C))
print("Cosine Distance between A and C:"+str(p2/q2))

Cosine Distance between A and B :0.6666666666666667
Cosine Distance between B and C :0.6666666666666667
Cosine Distance between A and C:0.6666666666666667

In [4]:
A=(1,1,0,1,0,0,1,0)
B=(0,1,1,1,0,0,0,0)
C=(0,0,0,1,0,1,1,1)
def findintersection(x,y):
    inter=0
    for i in range(len(x)):
        if(x[i]==y[i]==1):
            inter=inter+1
    return inter        
def findunion(x,y):
    union=0
    for i in range(len(x)):
        if(x[i]==1 or y[i]==1):
            union=union+1
    return union
I=findintersection(A,B)
U=findunion(A,B)
jacind=I/U
jacdist=1-jacind
print("Jaccard Distance between A and B is "+str(jacind))

I1=findintersection(B,C)
U1=findunion(B,C)
jacind=I1/U1
jacdist=1-jacind
print("Jaccard Distance between B and C is "+str(jacind))
I2=findintersection(A,C)
U2=findunion(A,C)
jacind=I2/U2
jacdist=1-jacind
print("Jaccard Distance between A and C is "+str(jacind))

Jaccard Distance between A and B is 0.4
Jaccard Distance between B and C is 0.16666666666666666
Jaccard Distance between A and C is 0.3333333333333333

In [5]:
import math
A=(1,1,0,1,0,0,1,0)
B=(0,1,1,1,0,0,0,0)
C=(0,0,0,1,0,1,1,1)
def fun(x,y):
    tmp=0;
    for i in range(len(x)):
        tmp=tmp+x[i]*y[i]
    return tmp
p=fun(A,B)
q=math.sqrt(fun(A,A))* math.sqrt(fun(B,B))
print("Cosine Distance between A and B :"+str(p/q))
p1=fun(B,C)
q1=math.sqrt(fun(C,C))* math.sqrt(fun(B,B))
print("Cosine Distance between B and C :"+str(p1/q1))
p2=fun(A,C)
q2=math.sqrt(fun(A,A))* math.sqrt(fun(C,C))
print("Cosine Distance between A and C:"+str(p2/q2))

Cosine Distance between A and B :0.5773502691896258
Cosine Distance between B and C :0.2886751345948129
Cosine Distance between A and C:0.5

In [6]:
A=[4,5,0,5,1,0,3,2]
B=[0,3,4,3,1,2,1,0]
C=[2,0,1,3,0,4,5,3]
def findAvg(s1):
    avg=0;
    for i in range(len(s1)):
        avg+=s1[i]
    avg=avg/len(s1)
    return avg
def repList(s1):
    l=list()
    for i in s1:
        if(i is not 0):
            l.append(i-findAvg(s1))
        else:
            l.append(0)
    return l

A=repList(A)
B=repList(B)
C=repList(C)
print(A)
print(B)
print(C)

[1.5, 2.5, 0, 2.5, -1.5, 0, 0.5, -0.5]
[0, 1.25, 2.25, 1.25, -0.75, 0.25, -0.75, 0]
[-0.25, 0, -1.25, 0.75, 0, 1.75, 2.75, 0.75]

In [7]:
import math
A=(1.5, 2.5, 0, 2.5, -1.5, 0, 0.5, -0.5)
B=(0, 1.25, 2.25, 1.25, -0.75, 0.25, -0.75, 0)
C=(-0.25, 0, -1.25, 0.75, 0, 1.75, 2.75, 0.75)
def fun(x,y):
    tmp=0;
    for i in range(len(x)):
        tmp=tmp+x[i]*y[i]
    return tmp
p=fun(A,B)
q=math.sqrt(fun(A,A))* math.sqrt(fun(B,B))
print("Cosine Distance between A and B :"+str(p/q))
p1=fun(B,C)
q1=math.sqrt(fun(C,C))* math.sqrt(fun(B,B))
print("Cosine Distance between B and C :"+str(p1/q1))
p2=fun(A,C)
q2=math.sqrt(fun(A,A))* math.sqrt(fun(C,C))
print("Cosine Distance between A and C:"+str(p2/q2))

Cosine Distance between A and B :0.5465040408511785
Cosine Distance between B and C :-0.31256152042413066
Cosine Distance between A and C:0.16340829138365012

In [11]:
import pandas as pd
data=pd.read_csv('E:\\Bigdata\\assignment2\\assign.csv')
item=pd.read_csv('E:\\Bigdata\\assignment2\\assign1.csv')
choice=pd.DataFrame(item.loc[94,::])
choice.head(n=10)
item.index+=1
item.head()
movies_index=item.MovieID
genres=item.columns
genres=genres[5:]
genre_values=item.values
data_200=pd.DataFrame(data.loc[data['UserID']==200])
user_200r=data_200.Rating
user_200i=data_200.ItemID
data_200.head(n=10)

      UserID  ItemID  Rating  Timestamp
12       200     222       5  876042340
189      200     673       5  884128554
243      200     318       5  884128458
326      200     304       5  876041644
367      200      96       5  884129409
503      200     365       5  884129962
692      200      11       5  884129542
1129     200     892       4  884127082
1285     200     588       5  884128499
1490     200     478       5  884128788

In [12]:
data_15=pd.DataFrame(data.loc[data['UserID']==15])
user_15r=data_15.Rating
user_15i=data_15.ItemID
data_15.head(n=10)

      UserID  ItemID  Rating  Timestamp
206       15     405       2  879455957
642       15     749       1  879455311
708       15      25       3  879456204
1208      15     331       3  879455166
1365      15     222       3  879455730
2207      15     473       1  879456204
2241      15     678       1  879455311
2461      15     932       1  879456465
2464      15     127       2  879455505
2649      15     685       4  879456288

In [13]:
def findAvg(x):
    avg=0;
    for i in range(len(x)):
        avg+=x[i]
    avg=avg/len(x)
    return avg

def findRatings(x,y):
    l=[0]*18
    m=list(y)
    ind=0
    for i in x:
        pos=0
        j=m[ind]*genre_values[i]
        j=j[5:]
        for inde in j:
            l[pos]+=inde
            pos+=1
        ind+=1
    avg=findAvg(l)

    for i in range(18):
        l[i]/=avg
        l[i]=round(l[i],2)
    return l
def findDot(s1,s2):
    dot=0;
    for i in range(len(s1)):
        dot+=s1[i]*s2[i]
    return dot

In [14]:
user_200r=data_200.Rating
user_200i=data_200.ItemID
user_15r=data_15.Rating
user_15i=data_15.ItemID
user_200sum=findRatings(user_200i,user_200r)
user_15sum=findRatings(user_15i,user_15r)

print("User 200's Ratings : "+str(user_200sum))
print("User 15's Ratings  : "+str(user_15sum))
goal_movie=genre_values[94]
goal_movie=goal_movie[5:]



num=findDot(user_200sum,goal_movie)
den=math.sqrt(findDot(user_200sum,user_200sum))* math.sqrt(findDot(goal_movie,goal_movie))
print("The Cosine Distance between User200 and Movie Number 95 : The Aladdin  "+str(num/den))

num=findDot(user_15sum,goal_movie)
den=math.sqrt(findDot(user_15sum,user_15sum))* math.sqrt(findDot(goal_movie,goal_movie))
print("The Cosine Distance between User15 and Movie Number 95  : The Aladdin  "+str(num/den))

User 200's Ratings : [2.12, 1.28, 0.37, 0.77, 3.09, 0.54, 0.11, 3.01, 0.2, 0.11, 0.6, 0.48, 0.3, 1.18, 1.01, 1.57, 0.84, 0.41]
User 15's Ratings  : [1.4, 0.82, 0.09, 0.91, 2.19, 1.01, 0.15, 4.45, 0.3, 0.24, 0.37, 0.18, 0.4, 1.58, 0.91, 2.1, 0.61, 0.27]
The Cosine Distance between User200 and Movie Number 95 : The Aladdin  0.4146403090399625
The Cosine Distance between User15 and Movie Number 95  : The Aladdin  0.27418788454906295

In [15]:
speed=(item.loc[item['Movie Title']=='Speed (1994)'])
print(speed.MovieID)

568    568
Name: MovieID, dtype: int64

In [17]:
users_speed=pd.DataFrame(data.loc[data['ItemID']==568])
vals=users_speed.values
valid=list()
for i in vals:
    if(i[2]>=3):
        valid.append(i[0])

users_age=pd.read_csv('E:\\Bigdata\\assignment2\\ass2.csv')
users_age.index+=1
all_ages=users_age.Age
age=list()
for i in valid:
    age.append(all_ages[i])
#print(age)
age15=[]
age20=[]
age30=[]
age40=[]
age50=[]
age60=[]

for i in age:
    if(i<20):
        age15.append(i)
    if(i>=20 and i<30):
        age20.append(i)
    if(i>=30 and i<40):
        age30.append(i)
    if(i>=40 and i<50):
        age40.append(i)
    if(i>=50 and i<60):
        age50.append(i)
    if(i>=60 and i<70):
        age60.append(i)

print("Users younger than 20 : "+str(len(age15)))
print(" 20-30 : "+str(len(age20)))
print(" 30-40 : "+str(len(age30)))
print(" 40-50 : "+str(len(age40)))
print("50-60 : "+str(len(age50)))
print("60 and above : "+str(len(age60)))

Users younger than 20 : 21
 20-30 : 88
 30-40 : 55
 40-50 : 26
50-60 : 9
60 and above : 2

In [18]:
goal_id=[]
j=0
for i in all_ages:
    j+=1
    if(i>=20 and i<30):
        goal_id.append(j)
#print(goal_id)
movie_id=[]
items=data.values
for i in goal_id:
    j=items[i]
    movie_id.append(j[0])

    smovie=genre_values[567]
smovie=smovie[5:]
cos_vals=[]
for i in movie_id:
    j=genre_values[i]
    j=j[5:]
    num=findDot(smovie,j)
    den=math.sqrt(findDot(j,j))* math.sqrt(findDot(smovie,smovie))
    cos_vals.append(round((num/den),2))
print(cos_vals)

[0.33, 0.58, 0.0, 0.0, 0.29, 0.0, 0.0, 0.82, 0.0, 0.29, 0.82, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.33, 0.0, 0.0, 0.58, 0.33, 0.0, 0.0, 0.41, 0.41, 0.41, 0.0, 0.0, 0.0, 0.33, 0.0, 0.0, 0.0, 0.82, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.0, 0.41, 0.0, 0.0, 0.41, 0.33, 0.0, 0.0, 0.58, 0.0, 0.0, 0.82, 0.33, 0.82, 0.82, 0.58, 0.0, 0.0, 0.52, 0.41, 0.41, 0.41, 0.41, 0.41, 0.0, 0.0, 0.0, 0.58, 0.29, 0.33, 0.58, 0.82, 0.0, 0.0, 0.0, 0.82, 0.0, 0.33, 0.41, 0.82, 0.33, 0.0, 0.0, 0.0, 0.0, 0.29, 0.0, 0.0, 0.41, 0.67, 0.0, 0.0, 0.0, 0.0, 0.29, 0.0, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.41, 0.0, 0.41, 0.29, 0.41, 0.67, 0.33, 0.67, 0.0, 0.52, 0.29, 0.0, 0.0, 0.67, 0.58, 0.0, 0.0, 0.0, 0.0, 0.0, 0.41, 0.67, 0.82, 0.0, 0.0, 0.0, 0.0, 0.33, 0.0, 0.41, 0.0, 0.67, 0.58, 0.29, 0.0, 0.52, 0.29, 0.33, 0.33, 0.82, 0.41, 0.41, 0.29, 0.0, 0.67, 0.29, 0.0, 0.41, 0.0, 0.0, 0.41, 0.0, 0.0, 0.58, 0.0, 0.0, 0.41, 0.41, 0.0, 0.33, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.67, 0.0, 0.0, 0.0, 0.0, 0.33, 0.0, 0.33, 0.33, 0.0, 0.0, 0.82, 0.82, 0.67, 0.0, 0.0, 0.33, 0.58, 0.41, 0.0, 0.29, 0.0, 0.58, 0.41, 0.0, 0.0, 0.0, 0.58, 0.29, 0.0, 0.58, 0.33, 0.33, 0.41, 0.0, 0.58, 0.33, 0.0, 0.33, 0.41, 0.29, 0.0, 0.0, 0.41, 0.82, 0.41, 0.0, 0.41, 0.41, 0.0, 0.58, 0.0, 0.82, 0.41, 0.41, 0.58, 0.0, 0.67, 0.82, 0.33, 0.41, 0.29, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.41, 0.0, 0.0, 0.41, 0.29, 0.0, 0.41, 0.29, 0.41, 0.0, 0.41, 0.0, 0.52, 0.0, 0.0, 0.29, 0.0, 0.0, 0.0, 0.0, 0.41, 0.41, 0.0, 0.0, 0.41, 0.82, 0.33, 0.0, 0.41, 0.0, 0.58, 0.29, 0.0, 0.58, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.67, 0.0, 0.67, 0.0, 0.0, 0.58, 0.0, 0.0, 0.67, 0.82, 0.0, 0.41, 0.41, 0.0, 0.0, 0.0, 0.41, 0.0, 0.41, 0.0, 0.67, 0.0, 0.41, 0.0, 0.0, 0.41, 0.0, 0.67, 0.29, 0.41, 0.0, 0.41, 0.41, 0.33, 0.0, 0.52, 0.0, 0.0, 0.41, 0.41, 0.33, 0.82, 0.0, 0.0, 0.33, 0.58, 0.0, 0.0, 0.0, 0.67, 0.0, 0.0, 0.0, 0.0]

In [19]:
res = sorted(range(len(cos_vals)), key = lambda sub: cos_vals[sub])[-3:]
moviet=item.values
for i in res:
    j=moviet[i]
    print(j[1])

Steel (1997)
Scream (1996)
Paradise Lost: The Child Murders at Robin Hood Hills (1996)